# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/

# Ambiente
.env
.env.*
!.env.example

# Saidas locais
saida/*
!saida/.gitkeep
entrada/*
!entrada/.gitkeep
audiobookshelf/config/*
!audiobookshelf/config/.gitkeep
audiobookshelf/metadata/*
!audiobookshelf/metadata/.gitkeep

# Sistema
.DS_Store
Thumbs.db
